<ion-content>

  <ion-icon (click)="back()" style="font-size: 25px; top: 10px; left: 10px; color: white; position: fixed;"
    name="close-outline">
  </ion-icon>

  <div>

    <div style="display: flex; align-items: center; height: 15vh; max-height: 150px ; padding: 10px;
      background-image: linear-gradient(to right top, #0051c8, #0083ed, #00aef3, #00d4e2, #00f6c8);">
      <div *ngIf="step == 0" style="color: white; font-size: 14px; font-weight: 500; margin-top: -7.5px;">Forget
        Password</div>
      <div *ngIf="step == 1" style="color: white; font-size: 14px; font-weight: 500; margin-top: -7.5px;">Verify with
        OTP Code</div>
      <div *ngIf="step == 2" style="color: white; font-size: 14px; font-weight: 500; margin-top: -7.5px;">Change
        Password</div>
    </div>

    <div style="min-height: 80vh ; width: 100%; padding: 30px 15px; border-radius: 15px 15px 0px 0px;
       background-color: white; margin-top: -15px; position: relative;">

      <div style="width: 20px; height: 15px; clip-path: polygon(50% 0, 0 100%, 100% 100%); 
        background-color: white; position: absolute; top: -13px; left: 30px;">
      </div>

      <div *ngIf="step == 0">

        <div style="display: flex; align-items: center; margin-bottom: 20px;">
          <!-- <ion-checkbox [(ngModel)]="terms" mode='ios' style='min-width: 26px; margin-right: 10px;'></ion-checkbox> -->

          <div style="font-size: 13px;">Type in your registered mobile no. with FORCAR. We'll send you a SMS to change
            your password.</div>
          <!-- <span style="color: #0051c8;">Terms of use.</span> -->
        </div>

        <ion-input [(ngModel)]="user.contact"
          style="--padding-start: 10px; background-color: #fafafa; font-size: 14px; border-radius: 10px; margin-bottom: 20px;"
          placeholder='Mobile No.'>
        </ion-input>


        <div [ngStyle]="{'background-image': 'linear-gradient(to right top, #015ac8, rgb(1,173,200))'}"
          (click)="nexter()"
          style="padding: 15px; border-radius: 100px; text-align: center; font-size: 14px; font-weight: 400; color: white">
          Next
        </div>
      </div>

      <div *ngIf="step == 1">
        <div style="font-size: 14px; font-weight: bold; text-align: center;">Confirm Your Number</div>

        <div style="margin-top: 20px; text-align: center; font-size: 13px; line-height: 1.5;">Enter the 6 digit code we
          sent via SMS to
          your mobile number
          <span style="font-weight: bold;">+{{condis(user.contact)}}</span> within 2 minutes
        </div>

        <div class="mb-6 text-center"
          style="margin: 30px 0px; font-size: 20px; display: flex; align-items: center; justify-content: center; ">
          <div id="otp" class="flex justify-center">
            <input (keyup)='OTPer("second", "first")' [(ngModel)]="key[0]"
              class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
              type="text" id="first" maxlength="1" />
            <input (keyup)='OTPer("third", "second")' [(ngModel)]="key[1]"
              class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
              type="text" id="second" maxlength="1" />
            <input (keyup)='OTPer("fourth", "third")' [(ngModel)]="key[2]"
              class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
              type="text" id="third" maxlength="1" />
            <input (keyup)='OTPer("fifth", "fourth")' [(ngModel)]="key[3]"
              class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
              type="text" id="fourth" maxlength="1" />
            <input (keyup)='OTPer("sixth", "fifth")' [(ngModel)]="key[4]"
              class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
              type="text" id="fifth" maxlength="1" />
            <input (keyup)='OTPer("finish","sixth")' [(ngModel)]="key[5]"
              class="m-2 text-center form-control form-control-solid rounded focus:border-blue-400 focus:shadow-outline"
              type="text" id="sixth" maxlength="1" />
          </div>
        </div>

        <div style="margin-top: 10px; font-size: 14px; display: flex; align-items: center; justify-content: center;">
          Didn't get the SMS? <span *ngIf="timer > 0" style="font-size: 12px; color: #999999; margin-left: 10px;">Resend
            Code({{timer}})</span>
          <span *ngIf="timer == 0" (click)="resend()" style="font-size: 12px; color: #0051c8; margin-left: 10px;">Resend
            Code</span>
        </div>

        <div (click)="verified()" style="padding: 15px; border-radius: 100px; text-align: center; font-size: 14px; font-weight: 400;
            background-image: linear-gradient(to right top, #015ac8, rgb(1,173,200)); color: white; margin-top: 20px;">
          Confirm
        </div>

      </div>

      <div *ngIf="step == 2">

        <!-- <div style="display: flex; align-items: center; margin-bottom: 20px;">
          <div style="font-size: 13px;">Type in your registered mobile no. with FORCAR. We'll send you a SMS to change
            your password.</div>
        </div> -->

        <!-- <ion-input [(ngModel)]="user.contact"
          style="--padding-start: 10px; background-color: #fafafa; font-size: 14px; border-radius: 10px; margin-bottom: 20px;"
          placeholder='Mobile No.'>
        </ion-input> -->

        <div
          style="padding: 10px; background-color: #fafafa; font-size: 14px; border-radius: 10px; margin-top: 10px; display: flex; align-items: center; margin-bottom: 10px;">
          <ion-input [(ngModel)]="user.password" class="ion-no-padding" [type]='show ? "text" : "password" '
            placeholder='Password'>
          </ion-input>
          <ion-icon (click)="show = !show" style="font-size: 20px;" [name]="show ? 'eye-outline' : 'eye-off-outline'">
          </ion-icon>
        </div>

        <div [ngStyle]="{'background-image': 'linear-gradient(to right top, #015ac8, rgb(1,173,200))'}"
          (click)="complete()"
          style="padding: 15px; border-radius: 100px; text-align: center; font-size: 14px; font-weight: 400; color: white">
          Confirm
        </div>
      </div>


    </div>

  </div>


</ion-content>