<ion-content>
  <div 
    style="height: 100vh; width: 100vw; display: flex; align-items: center; justify-content: center; color: black; background-color: white; flex-direction: column;">

    <img
      style='width:calc( 100vw - 100px );object-fit: cover;margin:50px;border-radius:100%;height:calc( 100vw - 100px );'
      src="https://media3.giphy.com/media/13等级Hn7g2ZMC7C/source.gif" alt="">
    <div
      style='font-size:20px;font-weight: bold;letter-spacing: 1px;text-align: center;color:#262626;margin-bottom:10px;max-width:400px;'>
      App Version Outdated</div>
    <div
      style='font-size:14px;font-weight: 500;letter-spacing: 1px;text-align: center;color:#737373;width:80%;padding:0px 0px;margin-bottom:5px;max-width:400px;'>
      It seems that your app is an outdated version of Hock Wong. Kindly update your app to enjoy better user
      experience!</div>

    <div (click)="open('google')"
      style="width: calc( 100% - 40px); margin: 20px 0px; display: flex; align-items: center; justify-content: center; padding: 10px; border-radius: 30px;box-shadow: 0px 3px 5px rgba(0,0,0,0.1);">
      <ion-icon style="margin: 0px 10px; width: 20px; height: 20px;" name="logo-google"></ion-icon>
      <b style="font-size: 14px;">Update on Google Play</b>
    </div>

    <!-- <div (click)="open('huawei')"
    style="background-color: rgb(201,20,44); width: calc( 100% - 40px); margin-bottom: 20px; display: flex; align-items: center; justify-content: center; padding: 10px; border-radius: 30px; box-shadow: 1px 3px 5px rgb(230,230,230);">
    <b style="font-size: 14px; color: white;">Update on App Gallery</b>
  </div> -->

    <div (click)="open('ios')"
      style="background-color: black; width: calc( 100% - 40px); display: flex; align-items: center; justify-content: center; padding: 10px; border-radius: 30px;box-shadow: 0px 3px 5px rgba(0,0,0,0.1);">
      <ion-icon style="color: white; margin: 0px 10px; width: 20px; height: 20px;" name="logo-apple"></ion-icon>
      <b style="color: white; font-size: 14px;">Update on App Store</b>
    </div>

  </div>
</ion-content>