<ion-content style="--background: #F9FAFE">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="background-color: #F9FAFE;">
<!-- 
    <div [ngStyle]="{'background-image': 'linear-gradient(to top, white, white, #' + theme + '33)'}"
    style="position: absolute; top:0 px; z-index: -1; background-image: linear-gradient(to top, white, white, #ffd7d733); min-height: 100%; width: 100%;">
  </div> -->

  <div
  style=" padding: 7.5px 20px;display: flex; align-items: center; justify-content: space-between;  margin-top: 10px; background: #FFFFFF;">

  <!-- <img style="height: 40px; " src="{{'assets/logo.png'}}"> -->

  <div (click)="pather('profile')" style='display:flex;align-items: center;cursor: pointer;'>

    <div style="position: relative;">
      <img style='height:40px;width:40px;object-fit: cover; border-radius: 100%; margin-right:10px;'
        src="{{vendor.photo || 'assets/logo.png'}}" alt="">
        <!-- <img *ngIf="vendor.verified" src="assets/verify.png" style="position: absolute; height: 20px; top: -5px; right: -5px; z-index: 100"> -->
    </div>

    <div style="text-align: start;">
      <div style='font-size:12px;letter-spacing: .5px; font-weight: 500;
          opacity: 0.9;max-width:100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;'>
        {{vendor.brand_name || 'N/A'}}</div>
      <div style='font-size:12px;letter-spacing: .5px; font-weight: 500; margin-top: 5px;
          opacity: 0.9;max-width:100px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;'>
        {{vendor.name}}</div>
    </div>

  </div>


  <div (click)="pather('wallet')" style="display: flex; flex-direction:column; justify-content:space-between; align-items:center; background-color:#814CD0; color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; border-radius: 30px; padding:10px; min-width: 30%;">
    <div style="font-size:14px; padding-bottom:5px ;">{{(vendor.earn || 0) | currency: 'RM '}}</div>
    <div style="font-size:14px;">{{language["Withdraw"][lang]}}</div>
  </div>


</div>

<div> 

  <div style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px; margin-bottom: 15px;">
    <div style="background-color: #3d3d3d; color: #FFFFFF; display:flex;font-size: 14px; justify-content: center; align-items: center; padding: 10px 0; text-align: center;">
      {{language["First Step: Set Merchant Information"][lang]}}</div>

      <div style="display: flex; justify-content:space-between; align-items:center; padding:15px; background-color: #FFFFFF;">

        <div (click)="pather('profile')" style="display: flex; justify-content: center; align-items: center; min-width: 30%; max-width: 30%; ">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px; padding:15px 5px;
          text-align: center;width: 100%; font-size: 14px;min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["Merchant Information"][lang]}}
          </div>
          </div>

        <div (click)="pather('delivery-list')" style="display: flex; justify-content: center; align-items: center; min-width: 30%; max-width: 30%;">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px; padding:15px 5px;
          text-align: center;width: 100%; font-size: 14px; min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["Delivery Setting"][lang]}}
          </div>
        </div>

        <div (click)="pather('branch-list')" style="display: flex; justify-content: center; align-items: center; min-width: 30%;max-width: 30%;">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px; padding:15px 5px;
          text-align: center; width: 100%; font-size: 14px; min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["Self-Collection Setting"][lang]}}</div>
          </div>

      </div>
  </div>

  <div style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px; margin-bottom: 15px;">
    <div style="background-color:  #3d3d3d; color: #FFFFFF; display:flex; justify-content: center; align-items: center; padding: 10px 0; text-align: center;font-size: 14px;">
      {{language["Second Step: Listing Product"][lang]}}</div>
      <div style="display: flex; justify-content:space-between; align-items:center; padding:20px; background-color: #FFFFFF;">

        <div (click)="pather('product-create')" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-width: 30%; max-width: 30%; ">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px;
          display: flex; justify-content: center; align-items: center;">
          <img src="assets/Gif/animation_200_l7e8qbi5.gif" style="padding:15px"/>
          </div>
          <div style="padding:15px 0px 0px 0px; text-align: center;width: 100%; font-size: 14px;min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["Create Product"][lang]}}
          </div>
          </div>

        <div (click)="pather('/tab3?tab=1')" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-width: 30%; max-width: 30%; ">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px;
          display: flex; justify-content: center; align-items: center;">
          <img src="assets/Gif/animation_200_l7e9h48k.gif"style="padding:15px" />
        </div>
          <div style="padding:15px 0px 0px 0px; text-align: center;width: 100%; font-size: 14px; min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["Pending Review"][lang]}}
          </div>
        </div>

        <div (click)="pather('/tab3?tab=0')" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-width: 30%;max-width: 30%; ">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px;
          display: flex; justify-content: center; align-items: center;">
          <!-- <img src="https://assets4.lottiefiles.com/packages/lf20_de00quhr.json" style="padding:15px"/> -->
          <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_de00quhr.json" background="transparent"
          speed="1" style="height: 105px;" loop autoplay></lottie-player>
        </div>
          <div style="padding:15px 0px 0px 0px;text-align: center; width: 100%; font-size: 14px; min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["Listed Product"][lang]}}</div>
          </div>

      </div>

  </div>

  <div style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px; margin-bottom: 15px;">
    <div style="background-color: #3d3d3d; color: #FFFFFF; display:flex; justify-content: center; align-items: center; padding: 10px 0; text-align: center;font-size: 14px;">
      {{language["Third Step: Check Order"][lang]}}</div>
      <div style="display: flex; justify-content:space-between; align-items:center; padding:20px; background-color: #FFFFFF;">

        <div (click)="pather('/tab2?tab=processing')" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-width: 30%; max-width: 30%;">


          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px;
          display: flex; justify-content: center; align-items: center; position: relative;">
          <div style="position:absolute; top: 10px; right: 10px; padding: 5px; background-color:#F63B2F ; color: #FFFFFF; border-radius: 50%; 
          display:flex; justify-content: center; align-items: center; font-size: 10px; z-index: 999; width: 30px ; height : 30px ">{{vendor.pending}}</div>
          
          <!-- <img src="assets/Gif/animation_200_l7e8qbi5.gif" style="padding:15px"/> -->
          <!-- https://assets4.lottiefiles.com/packages/lf20_ic9mua9m.json -->
          <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_rnizksef.json" background="transparent"
          speed="1" style="height: 105px;" loop autoplay></lottie-player>

        </div>


          <div style="padding:15px 0px 0px 0px; text-align: center;width: 100%; font-size: 14px;min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["New Order"][lang]}}
          </div>


          </div>

        <div (click)="pather('/tab2?tab=track')" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-width: 30%; max-width: 30%; ">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px;
          display: flex; justify-content: center; align-items: center;">
          <img src="assets/Gif/animation_200_l7e8yxal.gif"style="padding:15px" />
        </div>
          <div style="padding:15px 0px 0px 0px; text-align: center;width: 100%; font-size: 14px; min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["In Transit"][lang]}}
          </div>
        </div>

        <div (click)="pather('/tab2?tab=completed')" style="display: flex; flex-direction:column; justify-content: center; align-items: center; min-width: 30%;max-width: 30%; ">
          <div style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; border-radius: 10px;
          display: flex; justify-content: center; align-items: center;">
                    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_wgkbgsjv.json" background="transparent"
                    speed="1" style="height: 105px;" loop autoplay></lottie-player>
          <!-- <img src="assets/Gif/animation_200_l7e9h48k.gif" style="padding:15px"/> -->
        </div>
          <div style="padding:15px 0px 0px 0px;text-align: center; width: 100%; font-size: 14px; min-height: 63.6px; display: flex; justify-content: center; align-items: center;">
            {{language["Completed"][lang]}}</div>
          </div>

      </div>

  </div>
    
    
</div>




  </div>


</ion-content>
