
<ion-content style="--background:#1a1132f0">

  <div style="padding: 15px; width: 100%; display: flex; align-items: center; justify-content: space-between;">
    <ion-icon (click)="back()" style="color: white; font-size: 20px;" name="arrow-back-outline"></ion-icon>
    <div (click)="onClick()" style="color: white; font-size: 20px;">Request Vendor</div>
    <div style="width: 20px;"></div>
  </div>


  <div style="padding: 15px; width: 100%;">

    <div
    style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px; margin-top: 10px;">
    <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: white; margin-bottom: 5px;">Company Name</div>
      <div
        style="width: calc( 100% - 15px ); margin-top: 6px; color: white; border-radius: 5px; background-color: #39304d;">
        <ion-input placeholder="Enter your company name" [(ngModel)]="user.name"  
          style="font-size: 14px; letter-spacing: 0.5px; color: white; --padding-start: 10px"></ion-input>
      </div>
    </div>

    <div
    style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px; margin-top: 10px;">
    <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: white; margin-bottom: 5px;">Company Brand Name</div>
      <div
        style="width: calc( 100% - 15px ); margin-top: 6px; color: white; border-radius: 5px; background-color: #39304d;">
        <ion-input placeholder="Enter your company brand name" [(ngModel)]="user.brand_name"  
          style="font-size: 14px; letter-spacing: 0.5px; color: white; --padding-start: 10px"></ion-input>
      </div>
    </div>
  
    <div
    style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px;">
    <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: white; margin-bottom: 5px;">PIC Name</div>
      <div
        style="width: calc( 100% - 15px ); margin-top: 6px; color: white; border-radius: 5px; background-color: #39304d;">
        <ion-input placeholder="Tell me your name" [(ngModel)]="user.pic_name"  
          style="font-size: 14px; letter-spacing: 0.5px; color: white; --padding-start: 10px"></ion-input>
      </div>
    </div>

    <div
    style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px; margin-top: 10px;">
    <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: white; margin-bottom: 5px;">Contact Number</div>
      <div
        style="width: calc( 100% - 15px ); margin-top: 6px; color: white; border-radius: 5px; background-color: #39304d;">
        <ion-input placeholder="Tell me how to contact you" [(ngModel)]="user.contact"      (keypress)="numberOnlyValidation($event)" type='tel'
          style="font-size: 14px; letter-spacing: 0.5px; color: white; --padding-start: 10px"></ion-input>
      </div>
    </div>

    <div
    style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px; margin-top: 10px;">
    <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: white; margin-bottom: 5px;">Email Address</div>
      <div
        style="width: calc( 100% - 15px ); margin-top: 6px; color: white; border-radius: 5px; background-color: #39304d;">
        <ion-input placeholder="Enter your email" [(ngModel)]="user.email"  
          style="font-size: 14px; letter-spacing: 0.5px; color: white; --padding-start: 10px"></ion-input>
      </div>
    </div>


    <div style="font-size: 12px; color: white; text-align: center; margin-bottom: 5px;">After submit request, we will get in tough with you as soon as possible</div>
    <div (click)="gowa()" style="font-size: 12px; color: rgb(81, 100, 207); text-align: center;"> Contact Us 6017-2550789</div>

    <div (click) = "active()" style="display: flex;width: 100%; background:#8951f2; display: flex;align-items: center;justify-content: center;border-radius: 10px; height: 40px;margin-top: 50px;color:white;font-size:15px;font-weight: 600;letter-spacing: 0.7px;">
      SUBMIT
    </div>

  
  </div>

</ion-content>
